[project]
	description = OpenCORE Media Framework
[receive]
	requireContributorAgreement = true
[access "refs/*"]
	owner = group external-opencore-owners
[access "refs/heads/*"]
	create = group external-opencore-taggers
	push = group external-opencore-taggers
	label-Code-Review = -2..+2 group Android Maintainers
	label-Code-Review = -2..+2 group external-opencore-approvers
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group external-opencore-verifiers
	submit = group Android Maintainers
	submit = group external-opencore-submitters
[access "refs/tags/*"]
	pushTag = group external-opencore-taggers
